extends ../layouts/layout

block vars
  - title = "Fico YTL - Miễn phí xi măng";
  - keyword = "Fico YTL - Miễn phí xi măng";
  - description = "Fico YTL - Miễn phí xi măng, xây nhà bền chắc";
  - menuIndex = 0

block container
  h1.invisible-title Fico YTL - Miễn phí xi măng, xây nhà bền chắc
  .container
    .top-banner
      a(href='#', title='')
        img.d-md-none(data-thp-lazy='', src=require('../../assets/images/ajax-loader.gif'), data-source=require('../../assets/images/upload/top-banner-1--m.png'))
        img.d-none.d-md-block(data-thp-lazy='', src=require('../../assets/images/ajax-loader.gif'), data-source=require('../../assets/images/upload/top-banner-1--d.png'))
  .container
    .update-area
      h2.heading Chúc mừng bạn đã đăng nhập thành công
      form.form.form-bill(method='POST',data-thp-validation='',onsubmit='return false;')
        .form-heading Nhập thông tin ngay để nhận mã rút thăm trúng thưởng!
        .form-group
          label Địa chỉ công trình
            sup *
          .form-control
            .select
              select#city(name='city', title='Tỉnh/Thành', required, data-error-require='* bắt buộc')
                option(value="",selected,disabled) Tỉnh/Thành
            .select
              select#district(name='district', title='Quận/Huyện', required, data-error-require='* bắt buộc')
                option(value="",selected,disabled) Quận/Huyện
            .input
              input(type='text',name='street', placeholder='Gõ địa chỉ: Số nhà = Đường - Phường/Xã', required, data-error-require='* bắt buộc')
        .form-group
          label Tên cửa hàng
            sup *
          .form-control
            .input.small
              input(type='text',name='shop', placeholder='............', required, data-error-require='* bắt buộc')
            label SĐT cửa hàng
            .input.small
              input(type='text',name='shopphone', placeholder='............',pattern="[+0-9]*", data-error-pattern='Chỉ nhập số và +',)
        .form-group
          label Số lượng bao Supreme Power
          .form-control
            .input
              input(type='number',name='total', placeholder='............', min=1,required, data-error-require='* bắt buộc', pattern='[0-9]*', data-error-pattern='Chỉ nhập số')
            .note Bạn vui lòng mua ít nhất 200 bao xi măng Supreme Power để nhận được mã dự thưởng bốc thăm may mắn.
        .form-group.form-cmd
          label &nbsp;
          .form-control
            button#btnLucky.btn.btn-primary(type='button',disabled) Nhận mã may mắn
            button#btnBill.btn.btn-secondary(type='submit') Lưu & Để sau
  .container
    .video-streaming
      .d-md-flex.justify-content-between.align-content-center
        .text-info
          figure
            .img
              img(data-thp-lazy='', src=require('../../assets/images/ajax-loader.gif'), data-source=require('../../assets/images/upload/ico_fico.png'))
            figcaption Đón xem 
              br.d-none.d-md-block
              | livestream 
              br
              | rút thăm 
              br.d-none.d-md-block
              | trúng thưởng
              br
              | tại facebook
        .video
          //- .fb-video(data-href='https://www.facebook.com/ficoytl/videos/2354587717936737/', data-width='500', data-show-text='false')
          a(href='https://www.facebook.com/pg/ficoytl', title='', target='_blank')
            img.d-md-none(data-thp-lazy='', src=require('../../assets/images/ajax-loader.gif'), data-source=require('../../assets/images/upload/video--m.png'))
            img.d-none.d-md-block(data-thp-lazy='', src=require('../../assets/images/ajax-loader.gif'), data-source=require('../../assets/images/upload/video--d.png'))
  .container
    .bottom-banner
      a(href='#', title='')
        img.d-md-none(data-thp-lazy='', src=require('../../assets/images/ajax-loader.gif'), data-source=require('../../assets/images/upload/bottom-banner-1--m.png'))
        img.d-none.d-md-block(data-thp-lazy='', src=require('../../assets/images/ajax-loader.gif'), data-source=require('../../assets/images/upload/bottom-banner-1--d.png'))
      a(href='#', title='')
        img.d-md-none(data-thp-lazy='', src=require('../../assets/images/ajax-loader.gif'), data-source=require('../../assets/images/upload/bottom-banner-2--m.png'))
        img.d-none.d-md-block(data-thp-lazy='', src=require('../../assets/images/ajax-loader.gif'), data-source=require('../../assets/images/upload/bottom-banner-2--d.png'))
      